
@import '../../assets/scss/common/_variable.scss';
@import '../../assets/scss/common/_mixins.scss';


.game{
    position: relative;
    .score {
        font-size: 20px;
        text-align: left;
        margin-bottom: 10px;
    }

    .pauseButton {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        right: -30%;
    }

    canvas {
        border: 1px solid $color-grayscale;
    }

    .gameOver {
        color: $color-error;
        font-size: 24px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            margin-bottom: 10px;
        }
    }

    .restartButton {
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
    }

    .controls{
        
    }
}