@font-face {
  font-family: 'icomoon';
  src:  url($font-path-icon+'icomoon.eot?2ouxf7');
  src:  url($font-path-icon+'icomoon.eot?2ouxf7#iefix') format('embedded-opentype'),
    url($font-path-icon+'icomoon.ttf?2ouxf7') format('truetype'),
    url($font-path-icon+'icomoon.woff?2ouxf7') format('woff'),
    url($font-path-icon+'icomoon.svg?2ouxf7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e904";
}
.icon-error:before {
  content: "\e901";
}
.icon-info:before {
  content: "\e902";
}
.icon-sucess:before {
  content: "\e903";
}
.icon-warning:before {
  content: "\e900";
}
.icon-long-arrow:before {
  content: "\e905";
}
.icon-spinner:before {
  content: "\e97a";
}
